.grid {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 1080px;

    background-color: #403f6c;
    
    .row {
        display: flex;
        margin-top: -24px;
    }

    > div:first-of-type {
        margin-top: 0px;
    }
}
