.HTT__grid {
    &-container {
        height: 100%;
        z-index: 10;
        display: flex;
        width: 112%;
    };

    &-background {
        background-color: #140B3B;
        flex: 78;
        z-index: 9;
        width: 100%;
        opacity: 0.4;
    };

    position       : absolute;
    z-index        : 10;

    display        : flex;
    align-self  : center;
    flex           : 78;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;

    margin-right   : 5% !important;
    margin-left    :  15% !important;

    &-invisible {
        visibility: hidden;
    }
    
    &-row {
        display   : flex;

        margin-top: -20px !important;
    }

    > div:first-of-type {
        margin-top: 0px;
    }
}
