.HTT__grid {
    z-index        : 10;

    display        : flex;
    align-content  : center;
    flex           : 78;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;

    margin-right   : 5% !important;
    margin-left    :  15% !important;

    &-invisible {
        visibility: hidden;
    }
    
    &-row {
        display   : flex;

        margin-top: -20px !important;
    }

    > div:first-of-type {
        margin-top: 0px;
    }
}
