#heroes-tooltip-root {
    position: absolute;

    width: 100%;
    height: 97%;
};

.react-tiny-popover-container {
    z-index: 10000000000 !important;
}

.HTT__overlay {
    display       : flex;
    flex-direction: column;

    height: 100%;

    .HTT__footer {
        display: grid;
        flex   : 17;
        margin-left: 1%;

        grid-template-columns: 10% auto 10%;

        .HTT__active-hero {
            display        : flex;
            align-items    : center;
            justify-content: center;

            cursor         : pointer;
            z-index: 10;

            // prod = 0;
            opacity        : 0;

            .HTT__card {
                width : 83%;
                height: 83%;
            }
        }

        .HTT__abilities {
            display        : inline-flex;
            align-items    : flex-end;
            justify-content: center;

            margin-left    : -1.25%;
            height: 117%;
            z-index: 10;

            opacity        : 0;
        };
    };
};