$primary        : #140B3B;
$primary-variant: #7D79D6;
$white          : #E1EFFC;

@mixin triangle( $color, $zIndex, $bottom, $border, $borderTop ) {
    position    : absolute;
    z-index     : $zIndex;
    right       : 0;
    bottom      : $bottom;
    left        : 0;

    width       : 0;
    margin-right: auto;
    margin-left : auto;

    border      : $border solid transparent;
    border-top  : $borderTop solid $color;
};

.HTT__bubble {
    position        : relative;
    z-index: 10;

    width           : 400px;
    margin-bottom   : 30px;
    padding: 10px;

    border          : 3px solid $primary-variant;
    background-color: $primary;

    &-container {
        width : auto;
        height: auto;
    };

    &-triangle {
        @include triangle( $primary, 30, -38px, 14px, 24px );

        &-border {
            @include triangle( $primary-variant, 20, -50px, 18px, 32px );    
        };
    };

    h4 {
        color      : $white;

        font-family: Verdana !important;
    };

    p {
        margin-top : 10px;

        color      : $primary-variant;

        font-family: Trebuchet MS !important;
        font-size  : 14px;
    };
};